& {
  $styleNamespace: &;

  position: relative;

  height: 48px;
  width: 50px;

  overflow: hidden;

  display: flex;
  justify-content: center;

  cursor: pointer;

  &.is--checked {

    #{$styleNamespace}__switcher {
      transform: translateX(-32px);
    }
  }

  &__switcher {
    position: absolute;

    top: 0;
    left: 0;

    display: flex;
    align-items: center;

    height: 100%;

    transition: 300ms ease;

    transform: translateX(0);

    section {
      width: 36px;
      height: 44px;

      display: flex;
      justify-content: center;
      align-items: center;

      box-sizing: border-box;

      border: 1px solid rgba(black, .2);

      border-radius: 2px;

      opacity: 0;

      transition: 300ms ease;

      &.is--selected {
        opacity: 1;
      }
    }

    .switcher__button {
      position: relative;

      width: 10px;
      height: 40px;
    }

    .switcher__button::after {
      content: "";

      position: absolute;

      top: -4px;
      left: -4px;

      border-radius: 2px;

      height: calc(100% + 8px);
      width: calc(100% + 8px);

      box-sizing: border-box;

      border: 1px solid rgba(black, .5);

      background: $white;

      z-index: 10;
    }

    .switcher__button::before {
      content: "";

      position: absolute;

      top: 50%;
      left: 50%;

      width: 1px;
      height: 70%;

      background: rgba(black, .3);

      transform: translate(-50%, -50%);

      z-index: 11;
    }

    .switcher__green-part {
      background: lightgreen;
    }

    .switcher__red-part {
      background: red;
    }
  }
}
