<div class="logo flex jus-center ali-center">
  {{fa-icon "search" class="find-glass"}}
  {{!-- <img v-if="!__search.fetch" class="find-glass" src="/static/img/buttons/find-glass-black.png" alt=""> --}}
  {{!-- <router-link class="total-results link font-3" v-else-if="__search.fetch.total_results > 20" :to="`/search?query=${__search.query}&type=${__search.type}`">{{__search.fetch.results.length === 20 ? `${__search.fetch.results.length}+` : __search.fetch.results.length}}</router-link> --}}
  {{!-- <p class="total-results font-3" v-else>{{__search.fetch.results.length}}</p> --}}
</div>
<input type="search" placeholder="Rechercher"/>