& {
  position: relative;

  text-transform: uppercase;

  #active-link-bar {
    position: absolute;

    top: 24px;
    right: 0;

    height: 47px;
    width: 4px;

    border-radius: 5px 0 0 5px;

    background: $white;

    transition: 500ms ease;

    transform: translateY(-50%);
  }

  .side-bar__link {
    padding: 15px 5px 15px 20px;

    cursor: pointer;

    color: $white;

    font-size: 1.15em;

    transition: 200ms linear;

    display: flex;
    align-items: center;

    &:hover {
      background: rgba($white, .1);
    }

    &.active {
      background: linear-gradient(to right, rgba($white, 0), rgba($white, .1) 40%);
    }

    .link__icon {
      height: 15px;
      width: 15px;

      color: white;

      margin-right: 10px;

      &.red {
        color: red;
      }

      &.green {
        color: greenyellow;
      }
    }
  }
}

@media (max-width: 767px) {
  & {

    .side-bar__link {
      font-size: 1em;
    }

    #active-link-bar {
      height: 46px;
    }
  }
}
