& {
  position: relative;

  text-transform: uppercase;

  #active-link-bar {
    position: absolute;

    top: 24px;
    right: 0;

    height: 47px;
    width: 4px;

    border-radius: 5px 0 0 5px;

    background: #fbfcff;

    transition: 500ms ease;

    transform: translateY(-50%);
  }

  .side-bar__link {
    padding: 15px 5px 15px 20px;

    cursor: pointer;

    color: #fbfcff;

    font-size: 1.15em;

    transition: 200ms linear;

    &:hover {
      background: rgba(#fbfcff, .1);
    }

    &.active {
      background: linear-gradient(to right, rgba(#fbfcff, 0), rgba(#fbfcff, .1) 40%);
    }
  }
}
