.community {
  display: flex;
  flex-direction: column;

  color: $white;

  .community__last-activities {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding: 10px;

    min-height: 471px;

    background: linear-gradient(to left top, $black, $black2, $black);

    .last-activities__title {
      margin: 20px 0 auto 0;

      text-align: center;

      font-size: 1.3em;

      letter-spacing: 1px;
    }

    .last-activities__list {
      margin-top: 20px;
    }
  }

  .community__filters-top-bar {
    left: auto;
    top: auto;

    width: auto;

    position: static;

    background: $darkblue2;

    .filters-top-bar__title {
      margin-top: 20px;
      margin-bottom: 10px;

      text-align: center;

      font-size: 1.2em;

      letter-spacing: 1px;
    }

    .div-lock-icon {
      display: none;
    }
  }

  .user-list {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .community {

    .community__last-activities {
      min-height: calc(370px * 3);
    }

    .community__filters-top-bar {

      .container {
        overflow: visible;
      }
    }
  }
}
