<div class="moodies-title josefin">
  <div class="shine-container">
    <h1 class="shine-title">moodies</h1>
  </div>
  <h1 class="title">moodies</h1>
</div>

{{main-title-bar/search-input}}

{{main-title-bar/search-type}}