& {
  cursor: pointer;

  height: 36px;
  width: 170px;

  padding: 0;

  border-radius: 9999px;

  display: flex;
  align-items: center;

  text-align: center;

  background: #ebe6eb;

  border: none;

  color: #272121;

  font-size: 1em;
}
