& {
  position: relative;

  display: flex;
  align-items: center;

  height: 36px;

  margin-left: 70px;

  color: $black;

  &:hover {

    .box-shadow {
      box-shadow: 0 3px 5px rgba($darkgrey, 0);

      input {
        box-shadow: 0 3px 5px rgba($darkgrey, 1) inset;

        background: $lightgrey;
      }
    }
  }

  &:focus-within {

    .box-shadow {
      box-shadow: 0 3px 5px rgba($darkgrey, 0);

      input {
        box-shadow: 0 3px 5px rgba($darkgrey, 1) inset;

        background: $lightgrey;
      }
    }

    .logo {

      .find-glass {
        height: 18px;

        opacity: .7;

        animation: find-glass__focus 500ms ease;
      }
    }
  }

  .logo {
    position: absolute;

    width: 40px;
    height: 100%;

    overflow: hidden;

    .find-glass {
      height: 16px;

      opacity: .3;

      transition: 250ms all;
    }

    .total-results {
      padding-top: 1px;
      padding-left: 2px;
    }
  }

  .box-shadow {
    display: flex;

    height: 102%;
    width: 100%;

    box-shadow: 0 3px 5px rgba($darkgrey, 1);

    transition: 250ms all;

    border-radius: 9999px;

    input {
      height: 102%;
      width: 260px;

      padding: 0 5px 0 40px;

      border-radius: 9999px;

      border: none;

      background: $lightgrey;

      font-size: .9em;

      box-shadow: 0 3px 5px rgba($darkgrey, 0) inset;

      transition: 250ms all;
    }
  }

  .see-all-results {
    margin: 0 10px;

    white-space: nowrap;

    text-decoration: underline;
  }
}

@keyframes find-glass__focus {
  from {
    height: 16px;

    opacity: .3;
  }

  50% {
    transform: translateY(-60px);
  }

  51% {
    transform: translateX(-60px);
  }

  to {
    height: 18px;

    opacity: .7;
  }
}

@media (max-width: 800px) {
  & {

    .box-shadow {

      input {
        width: 170px;
      }
    }
  }
}

@media (max-width: 767px) {
  & {
    margin-left: auto;
  }
}

@media (max-width: 520px) {
  & {
    display: none;
  }
}
