.my-profile__my-lists {
  padding-top: 140px;

  display: flex;
  flex-direction: column;

  .total-results {
    margin-bottom: 10px;

    min-height: 70px;

    background: $darkblue4;

    padding-left: 10px;

    font-family: 'Work Sans';

    color: white;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .total {
      margin: 20px 10px 20px 0;

      .higher {
        font-size: 1.4em;

        margin-left: 5px;
      }
    }
  }

  .no-movies {
    padding: 15px 25px;

    border-radius: 10px;

    background: $white;

    color: $black;

    text-align: center;

    margin: auto;
    margin-top: 20px;
  }
}
