.my-profile__my-lists {
  padding-top: 140px;

  display: flex;
  flex-direction: column;

  .total-results, .little-total-results {
    margin-bottom: 10px;

    min-height: 70px;

    background: $darkblue4;

    padding-left: 10px;

    font-family: 'Work Sans';

    color: white;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .total {
      margin: 20px 10px 20px 0;

      .higher {
        font-size: 1.4em;

        margin-left: 5px;
      }
    }
  }

  .little-total-results {
    display: none;
  }

  .no-movies {
    padding: 15px 25px;

    border-radius: 10px;

    background: $white;

    color: $black;

    text-align: center;

    margin: auto;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .my-profile__my-lists {

    .total-results {
      display: none;
    }

    .little-total-results {
      display: flex;
      padding: 0;

      .total {
        font-size: 0.9em;

        text-align: center;

        margin: auto;

        .higher {
          font-size: 0.9em;
          line-height: 1.3em;

          margin-left: 5px;
        }
      }
    }
  }
}
