& {
  padding-bottom: 100px;

  &__item {
    display: flex;
    align-items: center;

    margin: 10px;

    border: 3px solid rgba(gray, 0);

    border-radius: 5px;

    color: #fbfcff;

    &.mouse--is-over {
      border: 3px solid rgba(gray, .15);

      .item__link {
        border: 3px solid rgba(gray, 0);
      }
    }

    .item__link {
      padding: 9px 5px;

      border-radius: 5px;

      border: 3px solid rgba(gray, .15);

      .link__poster {
        border-radius: 5px;

        background: rgba(gray, .15);

        height: 220px;
        width: 140px;

        &.bigger {
          height: 280px;
          width: 180px;
        }
      }
    }

    .item__details {
      height: 100%;
      min-width: 400px;
      max-width: 400px;

      margin: 0 5px;

      .details__title {
        width: 350px;
        height: 27px;

        margin: 13px 0 15px 5px;

        background: rgba(gray, .15);
      }

      .details__genres {
        margin-bottom: 10px;

        .genre {
          margin: 5px;

          width: 100px;
          height: 30px;

          background: rgba(gray, .15);

          border-radius: 3px;
        }
      }

      .details__vote {
        margin-bottom: 10px;

        .vote__average {
          margin: 5px;

          width: 72px;
          height: 34px;

          border: 2px solid rgba(gray, .15);

          box-sizing: border-box;

          border-radius: 3px;
        }

        .vote__count {
          margin-left: 10px;

          width: 100px;
          height: 16px;

          background: rgba(gray, .15);
        }

        .number {
          font-weight: bold;
        }
      }

      .details__overview {
        margin-left: 5px;

        width: 380px;
        height: 60px;

        background: rgba(gray, .15);
      }
    }

    .div-buttons-lists {
      position: relative;

      min-width: 56px;
      min-height: 56px;

      &.margin-auto {
        margin: auto;
        margin-bottom: 10px;
      }
    }
  }
}
