.search {
  padding-top: 140px;

  display: flex;
  flex-direction: column;

  .total-results, .little-total-results {
    margin-bottom: 10px;

    height: 70px;

    background: #1e3e42;

    padding-left: 10px;

    font-family: 'Work Sans';

    color: white;

    display: flex;
    align-items: center;

    .higher {
      font-size: 1.4em;

      margin-left: 5px;
    }
  }

  .little-total-results {
    display: none;
  }

  .search__no-items {
    margin: 10px auto;

    padding: 10px 15px;

    border-radius: 5px;

    background: $white;
    color: $black;

    font-family: 'Work sans';

    cursor: pointer;

    font-size: 1.2em;
  }
}

@media (max-width: 767px) {
  .search {

    .total-results {
      display: none;
    }

    .little-total-results {
      display: flex;
    }
  }
}
