.search {
  padding-top: 140px;

  .total-results {
    margin-bottom: 10px;

    height: 70px;

    background: #1e3542;

    padding-left: 10px;

    font-family: 'Work Sans';

    color: white;

    display: flex;
    align-items: center;

    .higher {
      font-size: 1.4em;

      margin-left: 5px;
    }
  }
}
