#app {
  padding: 70px 0 0 200px;

  overflow-x: hidden;
}

#main-progress-bar {
  position: fixed;

  z-index: 999;

  top: 0;
  left: 0;

  height: 2px;

  background: $darkblue2;

  transition: 500ms ease;
}

.notify-shadow > div {
  box-shadow: 0 3px 5px rgba(black, .5);

  font-weight: bold;

  line-height: 25px;
}

.div-scroll-top-icon {
  position: fixed;

  bottom: 20px;
  right: 20px;

  cursor: pointer;

  padding: 20px;

  border: 2px solid white;
  border-radius: 5px;

  background: rgba(black, .7);

  display: flex;

  opacity: .8;

  z-index: 20;
}

.close-side-bar {
  position: fixed;

  top: 70px;
  left: 0;

  height: calc(100vh - 70px);
  width: 100vw;

  transition: 500ms ease;

  z-index: -1;

  &.side--bar-is-open {
    z-index: 1005;

    transform: translateX(200px)
  }
}

@media (max-width: 767px) {
  #app {
    padding: 70px 0 0 0;

    transition: 500ms ease;

    &.side--bar-is-open {
      transform: translateX(200px);

      opacity: .3;
    }
  }
}
