& {
  display: flex;
  align-items: center;

  padding: 10px 15px;

  margin: 0 10px;

  background: $white;

  color: $black2;

  border-radius: 5px;

  box-shadow: 0 3px 5px rgba(black, .5);

  .icon {
    height: 13px;
    width: 13px;

    margin-right: 10px;
  }
}
