& {
  display: flex;
  flex-wrap: wrap;

  &__genre {
    margin: 5px;
    padding: 3px 7px;

    background: $white;

    color: $black;

    border-radius: 3px;

    display: flex;
    align-items: center;

    &:first-child {
      margin-left: 0;
    }

    svg {
      height: 24px;
      width: 24px;

      margin-right: 7px;

      color: $black;
    }
  }
}
