& {
  position: relative;

  margin: 5px;

  color: #fbfcff;

  .button-list {
    cursor: pointer;

    position: relative;

    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;

    margin: 3px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    border: 2px solid rgba($color: #000, $alpha: 0);

    transition: 500ms ease;

    &.is--selected {
      border-radius: 50%;

      &::after {
        opacity: 0;
      }
    }

    &::after {
      content: "";

      position: absolute;

      top: -2px;
      left: -2px;

      height: calc(100% + 4px);
      width: calc(100% + 4px);

      border: 2px solid grey;

      box-sizing: border-box;
    }
  }

  .other-lists {
    position: absolute;

    transform: translateX(-50%);

    z-index: 2;

    padding: 10px;

    border: 1px solid gray;
    border-radius: 5px;

    max-height: 150px;

    overflow-y: scroll;

    background: rgba(0, 0, 0, .9);

    &.not--visible {
      display: none;
    }

    .div-button-list {
      display: flex;
      align-items: center;

      white-space: nowrap;

      cursor: pointer;

      .list-name {
        margin-left: 15px;
      }
    }
  }
}
