& {

  .reset-filters {
    cursor: pointer;

    height: 36px;

    margin: 17px 5px;

    border-radius: 5px;

    font-size: 1em;

    font-family: 'Work Sans';

    padding: 0 15px;

    border: none;

    background: $black;

    color: $lightgrey;
  }
}
