& {

  .reset-filters, .actualise-filters {
    cursor: pointer;

    height: 36px;

    margin: 10px 5px;

    border-radius: 5px;

    font-size: 1em;

    font-family: 'Work Sans';

    padding: 0 15px;

    border: none;

    background: $black;

    color: $lightgrey;
  }
}

@media (max-width: 767px) {
  & {

    .reset-filters, .actualise-filters {
      display: flex;
      align-items: center;

      .fa {
        height: 15px;
        width: 15px;

        font-size: 1.2em;
      }
    }
  }
}
