& {
  overflow-x: scroll;
  overflow-y: hidden;

  padding: 5px 0;

  .item {
    position: relative;

    margin: 5px;

    &:hover {

      &::after {
        opacity: 1;
      }
    }

    &.no-poster {

      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: attr(data-line);

      position: absolute;

      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      opacity: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      background: rgba($color: #000, $alpha: .7);

      color: white;

      font-size: 1em;

      transition: 300ms all;

      text-align: center;
    }

    .poster {
      height: 180px;
      width: 120px;
    }
  }
}
