& {
  padding-bottom: 100px;

  &__item {
    display: flex;
    align-items: center;

    margin: 10px;

    border: 3px solid rgba(gray, 0);

    border-radius: 5px;

    color: $white;

    .item__link {
      position: relative;

      padding: 5px;
      padding-top: 9px;

      border-radius: 5px;

      border: 3px solid rgba(gray, .15);

      &:hover {

        &::after {
          z-index: 1;

          opacity: 1;
        }
      }

      &.no-poster {

        &::after {
          z-index: 1;

          opacity: 1;

          transition: 0ms;
        }
      }

      &::after {
        content: attr(data-name);

        position: absolute;

        top: 0;
        left: 0;

        height: 100%;
        width: calc(100% - 10px);

        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;

        padding: 0 5px;

        z-index: -1;

        opacity: 0;

        transition: 300ms ease;

        background: rgba(black, .75);

        color: white;
      }

      .link__poster {
        height: 220px;
        width: 140px;
        min-height: 220px;
        min-width: 140px;

        border-radius: 5px;

        background: rgba(gray, .15);
      }
    }
  }
}
