<div class="part">
  <h1 class="title">
    Navigation
  </h1>
  {{main-side-bar/navigation}}
</div>
<div class="part">
  <h1 class="title">
    Vos activités
  </h1>
  {{main-side-bar/activities}}
</div>