& {
  position: relative;

  padding: 10px;

  color: $white;

  .button-list {
    cursor: pointer;

    position: relative;

    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;

    margin: 3px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    border: 2px solid rgba(black, 0);

    transition: 500ms ease;

    &.is--selected {
      border-radius: 50%;

      &::after {
        opacity: 0;
      }
    }

    &::after {
      content: "";

      position: absolute;

      top: -2px;
      left: -2px;

      height: calc(100% + 4px);
      width: calc(100% + 4px);

      border: 2px solid grey;

      box-sizing: border-box;
    }
  }

  .other-lists {
    position: absolute;

    transform: translateX(-50%);

    z-index: 2;

    border: 1px solid $white;
    border-radius: 5px;

    max-height: 150px;

    background: rgba(0, 0, 0, .9);

    opacity: .97;

    display: flex;
    flex-direction: column;

    &.is--repositioned {

      .other-lists__arrow::after {
        left: calc(100% - 18px);
      }
    }

    &.not--visible {
      display: none;
    }

    .div-button-list {
      display: flex;
      align-items: center;

      white-space: nowrap;

      cursor: pointer;

      min-height: 50px;
      min-width: 160px;

      .list-name {
        margin-left: 15px;
      }
    }

    .other-lists__arrow {
      position: relative;

      &::after {
        content: "";

        position: absolute;

        top: 0;
        left: 50%;

        transform: translate(-50%, -17px);

        height: 0;
        width: 0;

        border: 8px solid transparent;
        border-bottom-color: $white;
      }
    }

    .other-lists__container-scrollable {
      display: flex;
      flex-direction: column;

      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;

      max-height: 150px;

      padding: 10px 10px 50px;
    }

    .other-lists__no-lists {
      padding: 10px 20px;

      background: $white;
      color: $black;

      white-space: nowrap;

      border-radius: 5px;
    }
  }
}

@media (max-width: 767px) {
  & {
    padding: 2px;
  }
}
