{{#each basicLists as |list|}}
  <li class="button-list {{movie.id}}__button-basic-list {{if list.isSelected "is--selected" "not--selected"}}" style="{{compute (action "listColor") list.isSelected list.color}}">
    {{fa-icon list.icon}}
  </li>
{{/each}}
